@import './variables/colors.scss';


.carousel{
    position: absolute;
    z-index: 1000;
    bottom: 20px;
    width: 100%;
    left: 0;
    @media only screen and (max-width: 768px) {
        // display: none;
    }
    ul{
        padding-left: 0;
        margin: 0 auto;
        text-align: center;
        li{
            margin: 0 10px;
            width: auto;
            display: inline-block;
            span{
                // border: 1px solid #FFF;
                // border-radius: 50%;
                cursor: pointer;
                display: inline-block;
                // height: 24px;
                // width: 24px;
                color: #FFF;
                &.active{
                    // border: 1px solid red;
                    color: red;
                }
            }
        }
    }
}