@import './variables/colors.scss';

.list-circuits{
    padding: 0 40px;
    ul{
        list-style: none;
        padding: 0;
        text-align: center;
        width: 100%;
        li{       
            margin-bottom: 5px;
            padding: 0 10px;
            a{
                color:#D6DBDF;
                text-decoration: none;
            }
        }
    }
}
