@import './variables/colors.scss';


.content{
    background: #17202A;
    border-right: 10px solid #F1C40F;
    height: 100vh;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 30%;
    z-index: 1000;
}