@import './variables/colors.scss';


.content{
    background: rgba(00,00,00,.5);
    // border-right: 10px solid #F1C40F;
    // height: 100vh;
    left: 40px;
    position: absolute;
    text-align: center;
    top: 90px;
    // width: 30%;
    z-index: 1000;
}

.header{
    background: #17202A;
    border-bottom: 2px solid #F1C40F;    
    height: 60px;
    text-align: center;
    padding: 20px 0 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;    

    img{
        width: 120px;
        @media only screen and (max-width: 768px) {
            float: left;
            margin-left: 20px;
        }
    
    }
    .select-box{
        position: absolute;
        right: 20px;
        top: 0;
        width: 180px;
    }
}