@import './variables/colors.scss';


.leaflet-container {    
    height: 100vh;
    left: 0;
    position: absolute!important;
    right: 0;
    top: 0%;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;    
    transform: translate(0, 0);

    &.show-content{
        transform: translate(-50%, 0);
    }
}


.list-popup{
    list-style: none;
    padding-left: 0;
    li{
        display: inline-block;
        text-align: center;
        width: 100%;
        &.title{
            font-size: 18px;
            font-weight: bold;
        }
    }
}

.img-wiki{
    position: absolute;
    z-index: 1000;
    width: 110px;
    bottom: 30px;
    left: 30px;    
}
