@import './variables/colors.scss';


.leaflet-container {    
    height: 90vh;
    position: absolute!important;
    right: 0;
    top: 10%;
    width: 100vw;
}


.list-popup{
    list-style: none;
    padding-left: 0;
    li{
        display: inline-block;
        text-align: center;
        width: 100%;
        &.title{
            font-size: 18px;
            font-weight: bold;
        }
    }
}

.img-wiki{
    position: absolute;
    z-index: 1000;
    width: 110px;
    bottom: 30px;
    left: 30px;    
}
